body {
  text-align: center;
  background-color: #44475a;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #bd93f9;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #282a36;
  border-radius: 20%;
}

.game-over {
  background-color: #ff5555;
  opacity: 0.8;
}

.red {
  background-color: #ff5555;
}

.green {
  background-color: #50fa7b;
}

.blue {
  background-color: #8be9fd;
}

.yellow {
  background-color: #f1fa8c;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
